<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>members only</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="main_content_error">
      <header class="main_header_error">
        <div class="main_header_content_error">
          <h1 class="error_status">404 ERROR</h1>
          <p class="youre_lost">Oh, so you're lost? huh?</p>
          <a class="go_home" href="/">whatever go home</a>
          <p class="log_in_hehe">
            log in <a class="log_in_hehe" href="/log-in">here</a>
          </p>
        </div>
      </header>
    </div>
  </body>
</html>
