<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="main-content">
      <header>
        <div>
          <div>
            <h1>Clubhouse XD</h1>
          </div>
        </div>
      </header>
      <main>
        <div>
          <section class="signUpSectionForm">
            <div class="message">
              <p class="log_in_message">
                <% if (msg) { %> <%= msg[msg.length - 1] %> <% } %>
              </p>
            </div>

            <% if (locals.currentUser) { %>
            <div>You are logged in</div>
            <% } else { %>

            <div class="log_in_form">
              <form action="/log-in" method="post">
                <div>
                  <ul class="log_in_form">
                    <li>
                      <h2>Log In</h2>
                    </li>
                    <li>
                      <label for="username">Username: </label
                      ><input
                        type="text"
                        name="username"
                        id="username"
                        placeholder="axe123"
                        required
                      />
                    </li>
                    <li>
                      <label for="password">Password: </label
                      ><input
                        type="password"
                        name="password"
                        id="password"
                        required
                      />
                    </li>
                    <li>
                      <h3 class="dont_account">
                        Don't have account? Sign up <a href="/">here</a>
                      </h3>
                    </li>
                    <li>
                      <button class="log_in" type="submit">Sign Up</button>
                    </li>
                  </ul>
                </div>
              </form>
            </div>
            <% } %>
          </section>
        </div>
      </main>
    </div>
  </body>
</html>
