<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="main_content">
      <header>
        <div class="main_header"><h1>Clubhouse XD</h1></div>
      </header>
    </div>
    <main>
      <section class="form_section">
        <div class="main_form">
          <div class="errors">
            <% errors.map(({ msg }) => { %>
            <p><%= msg %></p>
            <% }) %>
          </div>
          <div class="secret_code_form_container">
            <form action="/secret-code" method="post">
              <div class="secret_code_form">
                <ul class="secret_code_inputs">
                  <li>
                    <h2>Enter Secret Password</h2>
                  </li>
                  <li>
                    <label for="leader">
                      <input
                        checked
                        type="radio"
                        name="memberRole"
                        id="leader"
                        value="leader_password"
                      />
                      Leader</label
                    >
                  </li>
                  <li>
                    <label for="admin">
                      <input
                        type="radio"
                        name="memberRole"
                        id="admin"
                        value="admin_password"
                      />Admin</label
                    >
                  </li>
                  <li>
                    <label for="secretPassword">Secret Password: </label>
                    <input
                      type="password"
                      id="secretPassword"
                      name="secretPassword"
                      required
                    />
                  </li>
                  <li>
                    <button class="secret_code" type="submit">Submit</button>
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
